.mainSkills {
  display: block !important;
}
.skillsOverlay {
  justify-content: center !important;
  margin-left: 10px;
  margin-top: 20px;
}
.skillsInfo {
  font-family: Lucida Sans Typewriter !important;
}
.btnSkills {
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: Lucida Sans Typewriter !important;
}
.textH1 {
  color: black;
  font-family: 'Brush Script MT', cursive;
}
