.emojiHello {
  display: block !important;
  justify-content: center;
  text-align: center;
  color: black;
}
img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.profession {
  font-weight: 800;
}
.resume {
  background-color: gray !important;
  color: white !important;
  font-family: 'Brush Script MT', cursive !important;
}
.intro {
  font-family: 'Brush Script MT', cursive !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}
