@import "../main.scss";

$color-used-for-background: $color-background;

.mainContactsDiv{
    display: flex;
    min-height: 700px;
    // background-color: $color-background-dark;
    // background-image: url('../../mumbai-2.png');
    // object-position: 10% 10%;

    @include respond (tab-port){
        flex-direction: column-reverse;
    }

    .leftContent,
    .rightContent{
        flex: 1;
    }

    .leftContent{
        & > div:first-child{
            // style={{marginBottom:"20px", position:"relative", width:"100%", height:"100%"}}
            margin-bottom: 20px;
            position: relative;
            width: 100%;
            height: 100%;

            & > span:first-child{
                height: 100% !important;
            }
        }
    }

    .rightContent{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 50px;

        @include respond (tab-port){
            margin-left: 0;
        }
        
        &__title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
            z-index: 10;


            h1{
                font-size: $font-size-big;
                background-color: $color-used-for-background;
                z-index: 10;
                // width: 100%;
                text-align: center;

                span{
                    color: $color-grey-dark-2;
                    font-size: $font-size-big;
                    font-weight: 100;

                }
            }
            
            span{
                color: $color-primary;
                font-size: large;
                @include respond (tab-port){
                    text-align: center;
                    animation: none;
                }

                .contact_page__marqueeText{
                    display: inline-block;
                    z-index: 5;
                    animation: marquee 1s linear infinite;

                    @include respond (tab-port){
                        display: block;
                        animation: none;
                    }

                }
                // &:hover{
                //     .contact_page__marqueeText{
                //         animation: none;
                //     }
                // }


            }
            span.belowMarquee{
                z-index: 10;
                min-width: 100%;
                background-color: $color-used-for-background;
            }
        }

        .findMeCard{
            display: flex;
            flex-direction: column;
            z-index: 10;
            background-color: $color-used-for-background;


            .findMeText{
                color: $color-grey-dark-2;
                font-weight: 100;
                font-size: large;
                margin: 1rem;
            }

            .cardContactMe {
                width: 100%;
                min-height: 170px;
                border: 1px solid $color-background-dark;
                background-color: $color-background-dark;
                border-radius: 1rem 1rem 0rem 1rem;
                padding: 35px 35px;
                margin-bottom: 20px;
                transition: all 1s;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                transition: all 1s;

                &:hover{
                    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
                    transform: translateY(-0.2rem);
                }

                &__cardContent{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    transition: all 1s;
                    padding: 1rem;

                    &__logo{
                        margin-right: 2rem;
                        flex-basis: 20%;
                        display: flex;
                        justify-content: center;

                    }

                    &__title{
                        font-size: large;
                        text-decoration: none;
                        font-weight: 400;
                        flex-basis: 80%;

                    }

                    &:hover{
                        transform: translateY(-0.4rem);

                        .cardContactMe__cardContent__title{
                            color: $color-primary;
                        }

                        .contactCardSvgIcon {
                            filter: invert(59%) sepia(50%) saturate(5212%) hue-rotate(91deg)
                              brightness(126%) contrast(114%);
                          }
                    }
                }
            }
      
        }

        &__buttonChat{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 2rem 0 3rem 0;

            button{
                background-color: $color-primary;
                min-width: 250px;
                padding: 1rem;
                font-size: large;
                color: $color-black;
                border-radius: 0.5rem 0.5rem 0rem 0.5rem;
                border: 1px solid $color-background-dark;
                animation: moveInButtonUp 0.5s ease-out 0.75s;
                animation-fill-mode: backwards;
                transition: all 1s;

                @include respond (tab-port){
                    width: 100%;
                }

                &:hover{
                    color: $color-grey-dark-2;
                    transform: translateY(-0.3rem);
                    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
                }

                &::after {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    border-radius: 10rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all 0.4s;
                  }
                
                  &:hover::after {
                    transform: scaleX(1.5) scaleY(1.6);
                    opacity: 0;
                  }
            }
        }
    }

}