@import "../main.scss";

.homepage {
  .firstSection {
    display: flex;
    min-height: 550px;

    @include respond (big-laptop) {
      min-height: 700px;
    }

    @include respond (tab-port){
      flex-direction: column-reverse;
    }

    &__details {
      width: 40%;
      display: flex;
      flex-direction: column;

      @include respond (tab-port){
        width: 100%;
      }

      &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        @include respond (tab-port){
          margin: 0;

          p:first-of-type{
            margin-top: 1rem;
          }

          & > br:last-of-type{
            display: none;
          }
        }

        p:first-of-type {
          padding: 5px 10px 5px 10px;
          background-color: $color-primary;
          font-weight: 500;
          color: $color-black;
          border-radius: 5px;
          width: max-content;
        }

        p:last-of-type {
          color: $color-grey-dark-2;
          white-space: pre-line;
        }

        h1:first-of-type {
          margin-top: 7px;
          margin-bottom: 7px;
          font-size: $font-size-big;
          font-weight: 100;
          line-height: 4.5rem;
          white-space: pre-line;
        }

        h1:last-of-type {
          color: $color-primary;
          text-decoration: underline;
          cursor: pointer;
          transition: all 1s;
          width: max-content;

          @include respond (tab-port){
            margin-bottom: 1rem;
          }
          
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 5px;
            left: 0;
            background-color: $color-primary;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
            
            &:hover{
              transform: translateY(-1px);
              // color: $color-white;
              // text-shadow: 1px 1px $color-grey-dark;

              &:after{
                transform: scaleX(1);
                transform-origin: bottom left;
              }
          }
        }
      }

      &__bottom {
        display: flex;
        padding-bottom: 50px;
        justify-content: space-between;

        @include respond (tab-port){
          flex-direction: column;
        }

        div {
          width: 50%;
          display: flex;
          align-items: stretch;
          margin-right: 10px;

          @include respond (tab-port){
            width: 100%;
          }

          span:first-child {
            font-size: $font-size-big;
            margin-right: 10px;
            display: flex;
            align-items: center;

          }
          span:last-child {
            color: $color-grey-dark-2;
            font-size: small;
            display: flex;
            align-items: center;
            white-space: pre-line;

            @include respond (tab-port){
              & > br {
                display: none;
              }
            }
          }
        }
      }
    }
    
    &__imageSection {
      width: 60%;
      display: flex;
      justify-content: center;

      @include respond (tab-port){
        width: 100%;
      }

      .sectionPic {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }

      .earth {
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
        background-size: contain;
      }

      .sun {
        position: relative;
        z-index: 2;
        /* background-color: yellow; */
        width: 30em;
        height: 100%;
        /* box-shadow: 0 0 1em yellow, inset 0 0 7em yellow; */
        display: flex;
        align-items: flex-end;

        @include respond (tab-port){
          width: 300px;
          height: 350px;
        }
      }

      .system_sun {
        margin: 0 auto;
        position: relative;
        width: max-content;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }

      .system_earth {
        z-index: 3;
        position: absolute;
        bottom: 26.5em;
        left: -10em;
        width: 7em;
        height: 8em;
        animation: earth-orbit 10s ease-in-out infinite;
        animation-delay: 1s;

        @include respond (tab-port){
          display: none;
        }
      }

      .saturn {
        z-index: 2;
        position: relative;
        width: 7em;
        height: 8em;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K");
      }

      .system_saturn {
        z-index: 3;
        position: absolute;
        bottom: 26.5em;
        right: -3em;
        width: 2.5em;
        height: 2.5em;
        animation: saturn-orbit 10s ease-in-out infinite;
        animation-delay: 2s;

        @include respond (tab-port){
          display: none;
        }
      }

      .nodeJS {
        z-index: 2;
        position: relative;
        width: 7em;
        height: 8em;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("https://nodejs.org/static/images/logo.svg");
      }

      .system_nodeJS {
        z-index: 3;
        position: absolute;
        top: 20.5em;
        left: -10em;
        width: 2.5em;
        height: 2.5em;
        animation: nodeJS-orbit 10s ease-in-out infinite;
        // animation-delay: 1s;

        @include respond (tab-port){
          display: none;
        }

        @include respond (big-laptop) {
          top: 26em;
        }
      }
    }
  }

  .secondSection {
    display: flex;
    min-height: 700px;
    background-color: $color-background-dark;

    &__container {
      display: flex;
      min-height: 700px;
      width: 100%;
      padding-top: 125px;
      // padding-bottom: 150px;

      @include respond (big-laptop) {
        padding-top: 150px;
      }

      @include respond (tab-port){
        flex-direction: column-reverse;
        padding-top: 50px;
      }

      .bothSection {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: flex-start;

        @include respond (tab-port){
          width: 100%;
          padding-top: 50px;
        }

        .card {
          width: 100%;
          min-height: 170px;
          // border: 1px solid $color-background-dark;
          // box-shadow: 5px 10px $color-background-dark;
          background-color: $color-background;
          border-radius: 10px;
          padding: 35px 35px;
          margin-bottom: 20px;
          transition: all 1s;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &__first_line {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            h1 {
              font-weight: 400;
              font-size: $default-font-size;
            }

            // img.svgIcon {
            // }
          }

          p:first-of-type {
            color: $color-grey-dark-2;
          }

          p:last-of-type {
            color: $color-white;
            font-size: small;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .card:hover {
          transform: scale(1.05);

          h1 {
            color: $color-primary;
          }

          img.svgIcon {
            filter: invert(59%) sepia(50%) saturate(5212%) hue-rotate(91deg)
              brightness(126%) contrast(114%);
          }
        }
      }

      div.bothSection:last-of-type {
        padding: 0 7rem;

        @include respond (tab-land){
          padding: 0 3rem;
        }

        @include respond (tab-port){
          padding: 0;
        }

        p {
          color: $color-grey-dark-2;
        }

        h1:first-of-type {
          margin-top: 7px;
          margin-bottom: 7px;
          font-size: $font-size-big;
          font-weight: 400;
          line-height: 4.5rem;
        }

        h1:nth-of-type(2) {
          font-weight: 400;
          font-style: italic;
        }
      }
    }
  }

  .thirdSection{
    display: flex;
    min-height: 600px;
    background-color: $color-background-dark;
    padding-top: 100px;
    padding-bottom: 125px;
    flex-direction: column;

    @include respond (big-laptop) {
      padding-top: 150px;
    }

    @include respond (tab-port){
      padding-bottom: 50px;
      padding-top: 50px;
    }

      &__topTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
          font-size: $font-size-big;
          font-weight: 400;
        }

        span{
          color: $color-grey-dark-2;
        }
      }

      &__Images{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;

        @include respond (tab-land){
          flex-direction: column;
          
        }
        
        &__innerDiv{
          transition: all 0.2s;
          
          &:not(:last-child){
            margin-bottom: 2rem;
          }
          // img{

          // }
          &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
          }
          
        }
      }

      &__bottomDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        a{
          text-decoration: none;
          transition: all 1s;
          display: inline-block;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-primary;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          
          &:hover{
            transform: scale(1.2);
          }
          &:hover:after{
            transform: scaleX(1);
            transform-origin: bottom left;
          }

        }
      }
  }

  .fourthSection {
    display: flex;
    min-height: 700px;
    flex-direction: column;
    padding: 100px 7rem;

    @include respond (big-laptop) {
      padding: 150px 7rem;
    }

    @include respond (tab-port){
      padding: 3rem;
    }

    &__row {
      padding-bottom: 3rem;

      @include respond (tab-port){
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    p.achievements_title_detail {
      color: $color-grey-dark-2;
      justify-content: center;
      align-items: center;

      @include respond (tab-port){
        text-align: center;
      }
    }

    h1.achievements_title {
      font-weight: 400;
      font-size: $font-size-big;
      @include respond (tab-port){
        text-align: center;
      }
    }

    &__leftSide {
      width: 35%;
      display: flex;
      flex-direction: column;

      @include respond (tab-port){
        width: 100%;
      }

      p:first-of-type{
        color: $color-primary;
      }
    }

    &__rightSide {
      width: 65%;
      flex-direction: column;
      display: flex;

      @include respond (tab-port){
        width: 100%;
      }

      &__row{
        padding-bottom: 1rem;
      }

      &__row:last-child{
        padding-bottom: 0rem;
      }

      

      h2:first-of-type {
        font-weight: 400;
        font-size: $default-font-size;
        color: $color-grey-dark-2;

        a{
          color: $color-primary;
        }
      }
    }
  }

  @keyframes moon-orbit {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(2.5em);
    }
    100% {
      transform: translateX(0);
      z-index: 1;
    }
  }

  @keyframes earth-orbit {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(40em, 10em);
      z-index: 3;
    }
    51% {
      z-index: 1;
    }
    100% {
      transform: translate(0);
      z-index: 1;
    }
  }

  @keyframes saturn-orbit {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(-38em, 10em);
      z-index: 3;
    }
    51% {
      z-index: 1;
    }
    100% {
      transform: translate(0);
      z-index: 1;
    }
  }

  @keyframes nodeJS-orbit {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(40em, 10em);
      z-index: 3;
    }
    51% {
      z-index: 1;
    }
    100% {
      transform: translate(0);
      z-index: 1;
    }
  }
}
