@import "../main.scss";

.projectsPage {
  position: relative;
  .carouselDiv{
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

  }
  .mainProjectsDiv {
    display: flex;
    padding: 3rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;

      .projectCard{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 400px;
        height: max-content;
        background-color: $color-background-dark;
        margin: 1rem;
        border-radius: 1rem;
        transition: all 1s;

        @include respond (phone){
          // height: 280px;
          justify-content: space-around;
        }

        .projectCardImage{
          position: relative;
          max-height: 200px;

          &__div{
            position: relative;
            min-height: 200px !important;
            max-height: 200px !important;
            min-width: 100% !important;
            display: block;
            // height: 100%;
            // width: 100%;

            
            img{
              
            }
          }

          &__Image{
            object-position: top center;
            object-fit: contain !important;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            background-size: cover;
            transition: all 1s;

          }
          
          div.projectCardTitle{
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: $color-grey-dark-5-opacity;
            
            span{
              font-size: 2rem;
              z-index: 10;
              
            }
          }

        }

        .projectCardButtons{
          display: flex;
          justify-content: center;
          align-items: center;
          
          &:first-child{
            margin-top: 1rem;
          }

            div{
              width: 100%;
              height: 2rem;
              margin: 1rem;
              text-align: center;
              background-color: $color-primary;
              border-radius: 1rem;
              transition: all 1s;
              color: $color-black;
              font-weight: 500;
              cursor: pointer;

                a{
                  text-decoration: none;
                }
            }
        }

        // animations
        &:hover{
          box-shadow: 0 1rem 2rem rgba($color-black, 0.5);

          .projectCardImage{
            // image scale on hover on image
            & img{
              transform: scale(1.2);
            }
            
            // title color change on hover image
            & > div.projectCardTitle{
              span{
                color: $color-primary;
              }
            }
          }

          .projectCardButtons{
            div{
              // transform: scale(1.1);
              // color: $color-grey-dark-2;

              &:hover{
                color: $color-grey-dark-2 !important;
              }
            }
          }
          

        }

      }
    
  }
}