@import "../main.scss";

.skillsPage {
  .mainSkillsDiv {
    display: flex;
    padding: 5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include respond (phone){
      padding-top: 0px;
    }

    .skillItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
      position: relative;
      transition: all 1s;
      z-index: 10;

      img{
        z-index: 10;
        opacity: 1;
        transition: all 0.5s;
      }

      span {
        color: $color-grey-dark-2;
        position: relative;
        z-index: 10;

      }

      .hideShowCard{
        background-color: $color-background-dark;
        opacity: 0;
        transition: all 1s;
        position: absolute;
        padding: 2rem;
        border-radius: 1rem;
        font-size: 0.75rem;

        span:first-child{
          font-weight: 500;
          display: flex;
          justify-content: center;
        }

        span:last-child{
          display: none;
          font-weight: 100;
        }
      }

      .skillTitle{
        opacity: 1;
      }
    }

    div.skillItem:hover {
      transform: scale(1.5);
      z-index: 200;

      span {
        color: $color-primary;
      }

      .hideShowCard{
        opacity: 1;

        span:last-child{
          display: block;

          a{
            cursor: pointer;
          }
        }
      }

      img{
        opacity: 0;
      }

      .skillTitle{
        opacity: 0;
      }
    }
  }
}



// .skill_info_tooltip {
//   visibility: visible;
//   animation: fadeIn 2s;
// }


// .skill_info_tooltip {
//   visibility: hidden;
//   min-width: 200px;
//   min-height: 15px;
//   background-color: $color-background-dark;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   margin-left: 1rem;
//   font-size: small;

//   /* Position the tooltip */
//   position: absolute;

//   @include respond (tab-land){
//     margin-top: 2rem;
//     margin-left: -7rem;
//     margin-right: 1rem;

//     @include respond (phone){
//       left: 20%;
//     }
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 25%;
//     left: 0%;
//     margin-left: -10px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent $color-background-dark transparent transparent;

//     @include respond (tab-land){
//       top: 0;
//       left: 50%;
//       border-color: transparent transparent $color-background-dark transparent;
//       margin-top: -10px;
//     }
//   }
// }