@import "../main.scss";

@include respond(tab-land) {
  .navigation {
    display: flex;
    align-items: center;
    position: relative;

    &__checkbox {
      display: none;
    }

    &__button {
      position: relative;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
    }

    //   navigation icon
    &__icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-white;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }

      &::after {
        top: 0.8rem;
      }
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    div.navigationContainer {
      display: none;
      height: 0px;
      width: 0px;
      background-image: radial-gradient($color-primary-dark, $color-background);
      z-index: 1000;
      //  transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__checkbox:checked ~ div.navigationContainer {
      position: fixed;
      top: 0;
      left: 0;
      height: 130vh;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;
    }

    &__nav {
      z-index: 1500;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      animation: moveInLeft 1s;
      width: 100%;
    }

    &__list {
      width: 100%;
      list-style: none;
      text-align: center;
    }

    // &__item {
    //   margin: 1rem;
    // }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
      }

      &:hover,
      &:active {
        width: 100%;
        display: inline-block;
        background-position: 100%;
        color: $color-primary-dark;
        transform: translateX(1rem);
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-grey-dark-3 50%
        );
        background-size: 300%;
        transition: all 0.6s;
      }
    }

    a.link_active {
      width: 100%;
      display: inline-block;
      background-position: 100%;
      color: $color-white;
      width: 100%;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-primary-dark 50%
      );
      background-size: 300%;
      transition: all 0.6s;
    }

    nav.hamburgerContactDiv{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        
        span{
            cursor: pointer;
            transition: all 1.5s;

            img {
                width: 2.5rem !important;
                min-width: 2.5rem !important;
              }
        }

        span:hover{
            transform: scale(1.5);
        }
    }
  }
}

// @include respond(tab-land) {
//     .navigation {
//         display: flex;
//         align-items: center;

//         &__checkbox {
//           display: none;
//         }

//         &__show{
//             display: block;
//         }

//         &__hide{
//             display: none;
//         }

//         &__button {
//           position: relative;
//           z-index: 2000;
//           text-align: center;
//           cursor: pointer;
//         }

//         //   navigation icon
//         &__icon {
//           position: relative;
//         //   margin-top: 3.3rem;

//           &,
//           &::before,
//           &::after{
//             width: 3rem;
//             height: 2px;
//             background-color: $color-white;
//             display: inline-block;
//           }

//           &::before,
//           &::after {
//             content: '';
//             position: absolute;
//             left: 0;
//             transition: all 0.2s;
//           }

//           &::before {
//             top: -0.8rem;
//           }

//           &::after {
//             top: 0.8rem;
//           }
//         }

//         &__button:hover &__icon::before {
//           top: -1rem;
//         }

//         &__button:hover &__icon::after {
//           top: 1rem;
//         }

//         &__checkbox:checked + &__button &__icon {
//           background-color: transparent;
//         }

//         &__checkbox:checked + &__button &__icon::before {
//           top: 0;
//           transform: rotate(135deg);
//         }

//         &__checkbox:checked + &__button &__icon::after {
//           top: 0;
//           transform: rotate(-135deg);
//         }

//         // navigation full screen background
//         &__background {
//             width: 0rem;
//             height: 0rem;
//             position: fixed;
//             top: 0rem;
//             left: 0rem;
//             background-image: radial-gradient(
//               $color-background,
//               $color-primary-dark
//             );
//             z-index: 1000;
//             transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);

//             &_sizeIncrease{
//               width: 6rem;
//               height: 6rem;
//             }

//             &_sizeDecrease{
//               width: 1rem;
//               height: 1rem;
//               transform: scale(0);
//             }

//             // transform: scale(80);
//             // @include respond(tab-port) {
//             //   top: 4.5rem;
//             //   right: 4.5rem;
//             // }

//             // @include respond(phone) {
//             //   top: 3.5rem;
//             //   right: 3.5rem;
//             // }
//         }

//         &__nav {
//             width: 0%;
//             opacity: 0;
//             height: 100vh;
//             position: fixed;
//             top: 0;
//             left: 0;
//             z-index: 1500;
//             transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//             animation: moveInLeft 1s;
//           }

//           &__list {
//             width: 100%;
//             @include centerHorizontalVertical;
//             list-style: none;
//             text-align: center;
//           }

//           &__item {
//             margin: 1rem;
//           }

//           &__link {
//             &:link,
//             &:visited {
//               display: inline-block;
//               font-size: 3rem;
//               font-weight: 300;
//               color: $color-white;
//               text-decoration: none;
//               text-transform: uppercase;
//             }

//             &:hover,
//             &:active {
//               display: inline-block;
//               background-position: 100%;
//               color: $color-white;
//               transform: translateX(1rem);
//               background-image: linear-gradient(
//                 120deg,
//                 transparent 0%,
//                 transparent 50%,
//                 $color-grey-dark 50%
//               );
//               background-size: 300%;
//               transition: all 0.4s;
//             }
//           }

//           a.link_active {
//             display: inline-block;
//               background-position: 100%;
//               color: $color-primary-dark;
//               width: 100%;
//               background-image: linear-gradient(
//                 120deg,
//                 transparent 0%,
//                 transparent 50%,
//                 $color-grey-dark 50%
//               );
//               background-size: 300%;
//               transition: all 0.4s;
//           }

//           &__checkbox:checked ~ &__background {
//             transform: scale(80);
//           }

//           &__checkbox ~ &__background {
//             transform: scale(80);
//           }

//           &__checkbox:not(:checked) ~ &__background {
//             transform: scale(0);
//           }

//           &__checkbox:checked ~ &__nav {
//             width: 100%;
//             opacity: 1;
//           }
//     }
//   }
