.container {
  margin: 0px auto;
  padding: 0px 3rem;
  max-width: 1440px;
}

.flex {
  display: flex;
}

.flex100{
  display: flex;
  width: 100%;
}

.flexBaseline{
  display: flex;
  align-items: baseline;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  color: $color-grey-dark-2;
  font-size: 2rem;
}

.logo span{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2rem;
}

.width30{
  width: 30%;
}

.width25{
  width: 25%;
}