.app {
  display: flex !important;
  display: -webkit-flex !important;
}
.drawer {
  background-color: transparent !important ;
  color: white !important;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco,
    'Bitstream Vera Sans Mono', monospace !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bgImage {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100%;
}
.navLink a {
  color: white !important;
}
.material-icons {
  color: white;
}
.navLink a:hover {
  color: black !important;
  background-color: white !important;
}
.emojiHello {
  display: flex !important;
  display: -webkit-flex !important;
  margin-top: 2%;
}
.mdl-layout-title {
  font-size: 30px !important;
  font-family: Impact, Haettenschweiler !important;
}
