@import "../main.scss";

.header {
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $color-background;
  z-index: 1000;

  &.headerScrolled {
    transform: translateY(-20px);
    transition: 0.05s ease-in;
    background-color: $color-background-dark;
    /* border-bottom: 1px solid #eaeaea; */
  }

  a {
    text-decoration: none;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }

  a.active::before {
    content: "<  ";
  }

  a.active {
    color: $color-primary;
  }

  a.active::after {
    content: "  >";
  }

  nav.navigationDiv {
    width: 45%;
    display: flex;
    margin-right: 10px;

    span {
      margin-right: 50px;
    }
  }

  nav.contactDiv {
    display: flex;
    justify-content: space-between;
    width: 30%;

    span {
      width: 100%;
      a {
        color: $color-grey-dark-2;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        cursor: pointer;
      }
      img {
        width: 1rem !important;
        min-width: 1rem !important;
      }
    }
    span:last-child {
      text-align: right;
      width: 100%;
      a {
        justify-content: flex-end;
      }
    }
    span:first-child {
      a {
        justify-content: space-between;
        max-width: 85px;
      }
    }
    span:nth-child(2) {
      max-width: 95px;
    }
  }

  .fullWidthNav {
    @include respond(tab-land) {
      display: none;
    }
  }

  .burgerNavigation {
    display: none;
    @include respond(tab-land) {
      display: flex;
      align-items: flex-end;

      .mobileHeaderLogo{
        display: flex;
        width: 100%;
        // @include centerHorizontalVertical

        a{
          display: flex;
          justify-content: center;
          width: 100%;

          span{
            margin-right: 10px;
          }
        }
      }

      .hamburgerDiv{
        display: flex;
        position: relative;
        top: 50%;
        // transform: translate(-50%, -50%);
      }
    }
  }

  @include respond(tab-land) {
    transform: translateY(-20px);
    transition: 0.05s ease-in;
    background-color: $color-background-dark;
  }
}


