@import "../main.scss";

.header {
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $color-background;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.headerScrolled {
    transform: translateY(-20px);
    transition: 0.05s ease-in;
    background-color: $color-background-dark;
    /* border-bottom: 1px solid #eaeaea; */
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }

  /* Link component styles */
  a,
  [role="link"] {
    text-decoration: none;
  }

  a,
  a:visited,
  a:hover,
  a:active,
  [role="link"],
  [role="link"]:visited,
  [role="link"]:hover,
  [role="link"]:active {
    color: inherit;
  }

  a.active::before,
  [role="link"].active::before {
    content: "<  ";
  }

  a.active,
  [role="link"].active {
    color: $color-primary;
  }

  a.active::after,
  [role="link"].active::after {
    content: "  >";
  }

  nav.navigationDiv {
    width: auto;
    display: flex;
    margin-right: 20px;
    align-items: center;

    span {
      margin-right: 25px;
    }
    
    span:last-child {
      margin-right: 0;
    }
  }

  nav.contactDiv {
    display: flex;
    justify-content: flex-end;
    width: auto;
    align-items: center;

    span {
      width: auto;
      margin-left: 15px;
      a {
        color: $color-grey-dark-2;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
        font-size: 0.9rem;
        white-space: nowrap;
      }
      img {
        width: 1rem !important;
        min-width: 1rem !important;
      }
    }
    span:first-child {
      margin-left: 0;
      a {
        justify-content: flex-start;
        max-width: 80px;
      }
    }
    span:nth-child(2) {
      max-width: 75px;
    }
    span:nth-child(3) {
      max-width: 60px;
    }
  }

  .fullWidthNav {
    @include respond(tab-land) {
      display: none;
    }
  }

  .burgerNavigation {
    display: none;
    @include respond(tab-land) {
      display: flex;
      align-items: flex-end;

      .mobileHeaderLogo{
        display: flex;
        width: 100%;
        // @include centerHorizontalVertical

        a{
          display: flex;
          justify-content: center;
          width: 100%;

          span{
            margin-right: 10px;
          }
        }
      }

      .hamburgerDiv{
        display: flex;
        position: relative;
        top: 50%;
        // transform: translate(-50%, -50%);
      }
    }
  }

  @include respond(tab-land) {
    transform: translateY(-20px);
    transition: 0.05s ease-in;
    background-color: $color-background-dark;
  }
}


